{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block content %}
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="{% url 'index' %}">主页</a></li>
		  <li>环境</li>
		</ol>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- BORDERED TABLE -->
			<div class="panel">
				<div class="panel-body">
					<form style="padding: 10px 0; ">
						<a href="{% url 'prj_env_add' %}"><button type="button" class="btn btn-primary">添加项目环境</button></a>
					</form>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>环境名称</th>
								<th>项目名称</th>
								<th>签名设置</th>
								<th>环境Url</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							{% for prj_env in prj_env_list %}
							<tr>
								<td>{{prj_env.id}}</td>
								<td>{{prj_env.env.name}}</td>
								<td>{{prj_env.project.name}}</td>
								<td>{{prj_env.sign.name}}</td>
								<td>{{prj_env.url}}</td>
								<td>
									<a href="#"><span class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#delModal"></span></a>&nbsp;&nbsp;
                                    <div id="delModal" class="modal fade" tabindex="-1" role="dialog">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">删除确认</h4>
                                          </div>
                                          <div class="modal-body">
                                            <p>是否确认删除项目环境？</p>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                                            <a href="{% url 'prj_env_del' prj_env.id %}"><button type="button" class="btn btn-danger">删除</button></a>
                                          </div>
                                        </div><!-- /.modal-content -->
                                      </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                    <a href="{% url 'prj_env_update' prj_env.id %}"><span class="glyphicon glyphicon-edit"></span></a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!-- END BORDERED TABLE -->
		</div>
	</div>
{% endblock %}
